<div class="ui card">
    <div class="image">
        <img src="{{ url_for('static', filename='img/me.jpg') }}">
    </div>
    <div class="content">
        <div class="header">{{ MY.NAME }}</div>
        <div class="meta">
            {% for title, url in MY.TITLES %}
                <div class="group">
                    {% if url %}
                        <a href="{{ url }}" target="_blank">{{ title }}</a>
                    {% else %}
                        {{ title }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="description">{{ MY.DESCRIPTION }}</div>
    </div>
    {% if MY.EMAIL is defined %}
    <div class="extra content">
        <p class="right floated created">E-Mail</p>
        <a href="mailto:{{ MY.EMAIL }}">{{ MY.EMAIL }}</a>
    </div>
    {% endif %}

    {% if MY.PHONE %}
    <div class="extra content">
        <p class="right floated created">Mobile</p>
        <p class="friend">{{ MY.PHONE }}</p>
    </div>
    {% endif %}

</div>
